<div class="container">
    <h2 class="container__title">Objetivos de Desarrollo Sostenible</h2>

    <p class="container__text">
        Nuestra labor va más allá del transporte y la logística, queremos sembrar y aportar hacia la consecución de
        estos objetivos que el mundo se plantea. Trabajamos en tres específicos:
    </p>

    <div class="container__objetivo">


        <!-- ODS 4 -->
        <div class="objetivo__objetivo">
            <div class="objetivo__title">
                <div class="title__img">
                    <img src="../../../../assets/sostenibilidad/4.5.jpg" alt="">
                </div>
                <h3 class="title__text">4. Educación de Calidad</h3>
            </div>

            <div class="objetivo__text">
                <p>
                    Coordinadora de Tanques consciente de su responsabilidad social y compromiso con la educación de los
                    jóvenes hijos de nuestro personal otorga becas para educación superior. Nuestro objetivo es impactar
                    a
                    jóvenes de aquí a 2030.
                </p>
                <p>
                    Algunos de nuestros colaboradores terminaron sus estudios profesionales y especializaciones con el
                    apoyo
                    económico de la organización.
                </p>
            </div>


            <div class="objetivo__body">
                <div class="body__card">
                    <div class="card__info">
                        <img src="../../../../assets/sostenibilidad/Juan Daniel.jpg" alt="" class="card__img">
                        <div class="info__info">
                            <p><strong>Juan Daniel Mazo</strong></p>
                            <p><strong>Puesto: </strong> Director de Innovación</p>
                            <p><strong>Estudio: </strong> Master Transformación digital en la empresa</p>
                        </div>
                    </div>
                    <div class="card__text">
                        <p>Este estudio es una gran oportunidad para seguir ampliando los conocimientos y poder realizar
                            un mejor trabajo, que permita agregar valor a todos los procesos, permitiendo que la empresa
                            sea más competitiva.</p>
                    </div>
                </div>

                <div class="body__card">
                    <div class="card__info">
                        <img src="../../../../assets/sostenibilidad/luis.jpg" alt="" class="card__img">
                        <div class="info__info">
                            <p><strong>Luis David Noguera Estrada</strong></p>
                            <p><strong>Puesto: </strong> Coordinador Ambiental</p>
                            <p><strong>Estudio: </strong> Auditor interno en ISO 9001:2015, ISO 14001:2014 e ISO
                                45001:2018</p>
                        </div>
                    </div>
                    <div class="card__text">
                        <p>Fue importante porque me permitió diversificar mis conocimientos y ampliarlos hacia otras
                            áreas. Así adquirí herramientas para la gestión tanto de mi proceso como para entender el
                            funcionamiento de otros procesos. El aprendizaje siempre abre muchas puertas.</p>
                    </div>
                </div>

                <div class="body__card">
                    <div class="card__info">
                        <img src="../../../../assets/sostenibilidad/luis2.jpg" alt="" class="card__img">
                        <div class="info__info">
                            <p><strong>Luis Fernando Henao</strong></p>
                            <p><strong>Puesto: </strong> Coordinador de Logística</p>
                            <p><strong>Estudio: </strong> Administración en Logística</p>
                        </div>
                    </div>
                    <div class="card__text">
                        <p>Este beneficio fue importante porque en momentos de dificultad económica me ayudo a continuar
                            mi carrera y así cumplir con mi gran sueño de ser un profesional, es gratificante el logro
                            de mis metas propuestas, lo que me ha permitido tener un crecimiento personal y profesional.
                        </p>
                    </div>
                </div>

                <div class="body__card">
                    <div class="card__info">
                        <img src="../../../../assets/sostenibilidad/fabian.jpg" alt="" class="card__img">
                        <div class="info__info">
                            <p><strong>Fabian Andrés Montoya</strong></p>
                            <p><strong>Puesto: </strong> Subdirector Contable</p>
                            <p><strong>Estudio: </strong> Especialista En Finanzas Corporativas</p>
                        </div>
                    </div>
                    <div class="card__text">
                        <p>Yo recibí el subsidio educativo en el año 2019 equivalente al 50% del valor total, para
                            estudiar la especialización en Finanzas Corporativas de la Universidad de Antioquia, gracias
                            a este estudio pude complementar mi pregrado en Contaduría Pública y afianzar mis
                            conocimientos los cuales los pongo a disposición de la compañía en el desarrollo de mis
                            funciones.</p>
                    </div>
                </div>

                <div class="body__card">
                    <div class="card__info">
                        <img src="../../../../assets/sostenibilidad/alma.jpg" alt="" class="card__img">
                        <div class="info__info">
                            <p><strong>Almudena Gómez Bolaños</strong></p>
                            <p><strong>Puesto: </strong> Coordinadora de Experiencia del Cliente</p>
                            <p><strong>Estudio: </strong> Especialista en Logística Integral</p>
                            <p><strong>Estudio: </strong> Especialista en Gerencia de Mercadeo</p>
                        </div>
                    </div>
                    <div class="card__text">
                        <p>Estas dos especializaciones son fundamental en mi rol actual, me han dotado de las
                            habilidades y capacidades necesarias para desarrollar estrategias de atención al cliente y
                            al mismo tiempo contar con conocimientos para implementar buenas prácticas en toda la cadena
                            logística del transporte.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ODS 6 -->
        <div class="objetivo__objetivo">
            <div class="objetivo__title">
                <div class="title__img">
                    <img src="../../../../assets/sostenibilidad/6.5.jpg" alt="">
                </div>
                <h3 class="title__text">6. Agua Limpia y Saneamiento</h3>
            </div>

            <div class="objetivo__text">
                <p>
                    Se realizó una inversión única y que está a la vanguardia de las empresas del sector, poniendo en
                    funcionamiento la planta de tratamiento de aguas residuales no domésticas, con la cual se realiza un
                    vertimiento responsable de este liquido y se disminuye el impacto al medioambiente.
                </p>
                <p>
                    En 2022 se trataron 889.130 litros de agua en nuestra PTARnD (Planta de Tratamiento de Agua Residual
                    Industrial No Doméstica). Nuestro enfoque es tratar 5.737.000 litros hasta 2030 y reutilizar el 60% de
                    esta.
                </p>
            </div>

            <div class="objetivo__img">
                <img src="../../../../assets/sostenibilidad/planta_agua.jpg" alt="">
            </div>
        </div>

        <!-- ODS 9 -->
        <div class="objetivo__objetivo">
            <div class="objetivo__title">
                <div class="title__img">
                    <img src="../../../../assets/sostenibilidad/9.5.jpg" alt="">
                </div>
                <h3 class="title__text">9. Industria, Innovación e Infraestrutura</h3>
            </div>

            <div class="objetivo__text">
                <p>
                    Nuestro enfoque está en reestructurar nuestros procesos, apoyándonos del uso de la tecnología,
                    investigación e innovación que nos permitan ser más competitivos, generar valor a la industria
                    colombiana y ser más eficientes, trabajando con un equipo de altas capacidades.
                </p>
                <p>
                    Nuestra meta es invertir el 2% de nuestros ingresos en investigación y desarrollo de nuevos
                    proyectos que nos permitan estar a la vanguardia y ser más competitivos para 2030.
                </p>
            </div>

            <div class="objetivo__img">
              <img src="../../../../assets/sostenibilidad/innovacion.jpg" alt="">
          </div>
        </div>


    </div>
</div>
