<div class="about__container">
    <!-- Frase -->
    <div class="container__frase">
        <div class="frase__background"></div>
        <!-- <div class="frase__quote">
            <i class="fa-solid fa-quote-left"></i>
        </div> -->
        <div class="frase__texto">
            <span class="texto__span">“Experiencia y Versatilidad que nos da Tranquilidad”</span>
        </div>
    </div>

    <!-- Texto -->
    <div class="container__texto-c">
        <div class="container__texto">
            <div class="container__second">
                <h1 class="time__title">Quienes Somos</h1>
                <div class="texto__info">
                    En Coordinadora de Tanques, somos más que una empresa de transporte. Somos esa promesa de servicio
                    basada en la experiencia y la versatilidad para el traslado de sus productos y mercancías por carretera.
                    Respaldados de nuestra propuesta de valor donde llevamos conectividad y bienestar a nuestros clientes,
                    prestando servicios de logística especializada, transporte de carga y sus complementarios. Respaldados
                    en nuestra trayectoria e infraestructura, aplicamos siempre tecnología, e innovación para Nuestro
                    propósito adaptarnos a sus necesidades.
                </div>
            </div>
            <div class="texto__image">
                <img src="../../../assets/servicios/equipos.png" alt="" class="image__img">
            </div>
        </div>
    </div>

    <!-- Proposito -->
    <div class="container__proposito">
        <img src="../../../assets/principios1.png" alt="" class="proposito__img">
    </div>

    <!-- SOMOS -->
    <div class="container__somos">
        <h2 class="somos__title">SOMOS</h2>
        <div class="somos__cards">
            <!-- Card + -->
            <div class="cards__card">

                <div class="card__header">
                    <div class="header__signo">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>

                <div class="card__body">
                    <ul class="body__list">
                        <li class="list__element"><span>+</span> de 300 Colaboradores.</li>
                        <li class="list__element"><span>+</span> Inclusión.</li>
                        <li class="list__element"><span>+</span> Soluciones a tu Medida.</li>
                        <li class="list__element"><span>+</span> Innovación.</li>
                        <li class="list__element"><span>+</span> Aprendizaje.</li>
                        <li class="list__element"><span>+</span> Servicio.</li>
                        <li class="list__element"><span>+</span> Agua Tratada.</li>
                        <li class="list__element"><span>+</span> Compromiso Ambiental.</li>
                    </ul>
                </div>

            </div>

            <!-- Card - -->
            <div class="cards__card">

                <div class="card__header">
                    <div class="header__signo">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                </div>

                <div class="card__body">
                    <ul class="body__list">
                        <li class="list__element"><span>-</span> Brecha.</li>
                        <li class="list__element"><span>-</span> Tiempos de Espera.</li>
                        <li class="list__element"><span>-</span> Contaminaciones.</li>
                        <li class="list__element"><span>-</span> Excusas.</li>
                        <li class="list__element"><span>-</span> CO2.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- TIMELINE -->
    <div class="container__time">
        <h2 class="time__title">Nuestra Historia</h2>
        <app-time></app-time>
    </div>



</div>