.about__container {
    padding: 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ======== FRASE ======== */
.container__frase {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;
    padding: 25px;
    position: relative;
}

.frase__background {
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/equipo2-min2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(0.4);
    position: absolute;
    top: 0;
    left: 0;
}

.frase__texto,
.frase__quote {
    width: auto;
    color: #fff;
    filter: brightness(100);
}

.frase__quote {
    font-size: 78px;
}

.frase__texto {
    margin-top: 50px;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
}

/* Media */
@media screen and (max-width: 700px) {
    .container__frase {
        flex-direction: column;
    }

    .frase__quote {
        font-size: 58px;
    }
    
    .frase__texto {
        font-size: 30px;
        font-style: italic;
        font-weight: 500;
    }    
}

@media screen and (max-width: 500px) {
    .container__frase {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .frase__quote {
        font-size: 58px;
    }
    
    .frase__texto {
        font-size: 25px;
        font-style: italic;
        font-weight: 500;
    }    
}



/* ======== TEXTO ======== */
.container__texto, .container__texto-c {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.container__texto-c {
    flex-direction: column;
    padding: 0 35px;
    gap: 25px;
}

.container__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container__second, .texto__image {
    width: 45%;
}

.texto__info {
    font-size: 18px;
    margin: auto;
}

/* Media */
@media screen and (max-width: 1000px) {
    .container__texto-c {
        padding: 0 15px;
    }

    .container__texto {
        flex-direction: column;
        gap: 30px;
    }

    .container__second {
        width: 85%;
    }
    
    .texto__image {
        width: 65%;
    }
}

@media screen and (max-width: 700px) {
    .container__second {
        width: 90%;
    }
    
    .texto__image {
        width: 90%;
    }  
}



/* ======== IMAGEN PROPOSITO ======== */
.container__proposito {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.proposito__img {
    width: 60%;
    max-height: 98vh;
    object-fit: contain;
}

/* Media */
@media screen and (max-width: 1100px) {
    .proposito__img {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .proposito__img {
        width: 95%;
    }
}



/* ======== CARDS ======== */
.container__somos, .container__time {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.container__somos {
    background-color: #CACFD0;
}

.somos__title, .time__title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    position: relative;
    width: auto;
    margin-bottom: 45px;
}

.somos__title::before, .time__title::before {
    /* content: '';
    display: block;
    width: 50%;
    height: 15px;
    background-color: #ee2c3662;
    position: absolute;
    top: 70%;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%); */
}

.somos__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
}

.cards__card {
    max-width: 440px;
    min-width: 280px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.192);
    padding: 35px;
    border-radius: 15px;
    height: 100%;
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__header,
.header__signo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__signo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EE2C37;
}

.header__signo i {
    width: auto;
    font-size: 25px;
    color: #fff;
}

.card__body {
    width: 90%;
}

.body__list {
    list-style: none;
    margin-top: 30px;
}

.list__element {
    font-size: 22px;
    font-weight: 400;
    margin-top: 10px;
}

.list__element span {
    font-size: 28px;
    font-weight: 600;
}

/* Media */
@media screen and (max-width: 750px) {
    .somos__cards {
        gap: 35px;
    }

    .list__element {
        font-size: 18px;
    }
    
    .list__element span {
        font-size: 24px;
    }
}
