<div class="container">
    <!-- Iconos -->
    <div class="container__icons">
        <a href="https://www.facebook.com/people/Coordinadora-De-Tanques-SAS/100063985932585/"  target="_blank" class="icons__redes"> <i class="fa-brands fa-facebook"></i> </a>
        <a  href="https://www.linkedin.com/company/coordinadora-de-tanques-sas/" target="_blank" class="icons__redes"> <i class="fa-brands fa-linkedin"></i> </a>
        <a  href="https://www.instagram.com/coorditanques/?hl=es" target="_blank" class="icons__redes"> <i class="fa-brands fa-instagram"></i> </a>
        <!-- <a  href="#" target="_blank" class="icons__redes"> <i class="fa-brands fa-twitter"></i> </a> -->
        <!-- <a  href="#" target="_blank" class="icons__redes"> <i class="fa-brands fa-tiktok"></i> </a> -->
    </div>

    <!-- Información -->
    <div class="container__informacion">
        <!-- datos -->
        <div class="informacion__datos">
            <div class="datos__logos">
                <img src="../../../assets/documents/BASC.png" alt="" class="logos__logo">
                <!-- <img src="../../../assets/documents/icontec.png" alt="" class="logos__logo"> -->
                <img src="../../../assets/documents/ccs.png" alt="" class="logos__logo2">
            </div>
        </div>

        <!-- Políticas -->
        <div class="informacion__politicas">
            <div class="politicas__links">
                <a href="../../../assets/documents/sources/PL-_POLITICA_TRATAMIENTO_DE_DATOS_PERDONALES_V01_1.pdf" target="_blank" class="politicas__link">
                    Términos y Condiciones
                </a>
                <span class="politicas__link">/</span>
                <a href="../../../assets/documents/sources/PLANIFICACION_ESTRATEGICA_2022.pdf" target="_blank" class="politicas__link">
                    Política de Tratamiento de datos
                </a>
            </div>
            <div class="politicas__derechos">
                <p class="derechos__right">2023 Coordinadora de Tanques S.A.S. © All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
