<div class="servicios-container">
    <!-- Titulo -->
    
    <!-- Subtitulos -->
    <div class="servicios-container__subtitle">
        <div class="container__second">
            <h1 class="servicios-container__title">Nuestro centro de Servicios</h1>
            <p class="subtitle__text">
                En Coorditanques pesamos en ti, hemos adquirido un mundo de experiencias a lo largo de estos años, para
                apoyarte en la logística y en la distribución de tus productos y mercancías.
            </p>
        </div>

        <div class="subtitle__image">
            <img src="../../../assets/servicios/Conductores.webp" alt="Servicios" class="image__img">
        </div>
    </div>


    <!-- Contador de Números -->
    <div class="servicios-container__numbers">
        <div class="numbers__flota">
            <div class="flota__element" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event, 'Vehículos Propios', 175)">
                <h1 class="element__number">{{ counters['Vehículos Propios'] | number }}</h1>
                <h3 class="element__title">Vehículos Propios</h3>
            </div>
            <div class="flota__element" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event, 'Terceros Vinculados', 300)">
                <h1 class="element__number">+ {{ counters['Terceros Vinculados'] | number }}</h1>
                <h3 class="element__title">Terceros Vinculados</h3>
            </div>
        </div>
        <div class="numbers__flota" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event, 'Galones', 512598500)">
            <div class="flota__element">
                <h1 class="element__number">+ {{ counters['Galones'] | number }}</h1>
                <h3 class="element__title">Galones Movilizados 2022</h3>
            </div>
            <div class="flota__element" inViewport [inViewportOptions]="{ threshold: [0] }" (inViewportAction)="onIntersection($event, 'Destinos', 636)">
                <h1 class="element__number">{{ counters['Destinos'] | number }}</h1>
                <h3 class="element__title">Destinos</h3>
            </div>
        </div>

    </div>


    <!-- Servicios que ofrecemos -->
    <div class="servicios-container__servicios">
        <h2 class="servicios__title">Servicios que Ofrecemos</h2>
        <p>
            ¡Bienvenidos a Coorditanques, nuestra experiencia y versatilidad en el transporte de carga líquida son la
            clave para brindar tranquilidad a nuestros clientes!
            <br>
            <br>
            Con un equipo humano e innovador y una flota eficiente, estamos aquí para analizar, simplificar y optimizar
            tus necesidades logísticas. Nuestra misión es llevar tus productos de manera segura y eficiente, siempre
            comprometidos con la excelencia en el servicio.
            <br>
            <br>
            Descubre cómo nuestra experiencia se traduce en tú tranquilidad.
        </p>

        <div class="servicios-container__cards">
            <div class="cards__card" *ngFor="let servicio of servicios; index as i">
                <div class="card__header">
                    <img src="{{servicio.img}}" style="max-width: 230px;" alt="" class="header__img">
                </div>
                <div class="card__body">
                    <div class="body__title">
                        <h3>{{ servicio.name }}</h3>
                    </div>
                    <div class="body__desc">
                        <p>{{ servicio.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vehículos -->
    <div class="servicios-container__servicios">
        <h2 class="servicios__title">Vehículos Disponibles</h2>
        <p>
            En nuestra empresa de transporte de carga líquida por carretera, ofrecemos una amplia gama de opciones de
            unidades de transporte para satisfacer sus necesidades de logística. Nuestra flota incluye tractomulas de
            gran capacidad para cargas con volúmenes grandes, dobletroques ideales para transportar cargas medianas y
            sencillos para entregas más específicas. Contamos con la solución de transporte adecuada para asegurar la
            entrega segura y eficiente de sus productos.
        </p>

        <div class="servicios-container__cards">
            <div class="cards__card -vh" *ngFor="let vehiculo of vehiculos; index as i"
                style="background-image: url('{{vehiculo.img}}'); background-size: cover; background-repeat: no-repeat;">
                <div class="vh__body">
                    <div class="body__title -vh">
                        <h3>{{ vehiculo.name }}</h3>
                    </div>
                    <div class="body__desc -vh">
                        <p><strong>Peso Máximo: </strong> {{ vehiculo.peso }} Kg</p>
                        <p><strong>Volumen Máximo: </strong> {{ vehiculo.vol }} Gal</p>
                        <p><strong>Cantidad de Ejes: </strong> {{ vehiculo.ejes }} Ejes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sedes -->
    <div class="servicios-container__servicios">
        <h2 class="servicios__title">Nuestras Sedes</h2>
        <p>
            Con sedes estratégicamente ubicadas en puntos clave en Colombia, estamos listos para atender tus necesidades
            y brindarte soluciones logísticas de primer nivel.
            <br>
            <br>
            Nuestra red de sedes garantiza una cobertura completa, reflejando nuestro compromiso con la accesibilidad y
            la excelencia en el servicio.
            <br>
            <br>
            Alcanzando más horizontes, estamos orgullosos de anunciarte que hemos llegado a más de 300 municipios,
            gracias a nuestra dedicación incansable, a la excelencia en las operaciones logísticas nos ha llevado a
            explorar cada rincón del mapa, brindando soluciones confiables y oportunas. Este es solo el comienzo de
            nuestra búsqueda para conectar más con el territorio nacional e internacional.
        </p>

        <div class="mapa-container">
            <img src="../../../assets/servicios/mapa1.png" alt="" class="mapa__img">
        </div>

    </div>


</div>

<app-footer></app-footer>