/* ======== TEXTO ======== */
.container {
    --color-primary: #EE2C37;
    --font-color: rgb(29, 28, 28);
    padding: 130px 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Titulo */
.container__title {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}

.container__subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}


/* Subtitle */
.subtitle__text {
    font-size: 18px;
    margin: auto;
    
}

.subtitle__image {
    width: 50%;
}

.image__img {
    width: 100%;
    border-radius: 7px;
}

.container__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap: 35px;
}

/* Media */
@media screen and (max-width: 1000px) {
    .container {
        padding: 0 15px;
        padding-top: 150px;
    }

    .container__subtitle {
        flex-direction: column;
        gap: 30px;
    }

    .container__second {
        width: 85%;
    }

    .subtitle__image {
        width: 65%;
    }
}

@media screen and (max-width: 700px) {
    .container__second {
        width: 90%;
    }
    
    .subtitle__image {
        width: 90%;
    }  
}