<div class="container">    
    <!-- Subtitulos -->
    <div class="container__subtitle">
        <div class="container__second">
            <h1 class="container__title">Sostenibilidad</h1>
            <p class="subtitle__text">
                En Coorditanques pesamos en ti, hemos adquirido un mundo de experiencias a lo largo de estos años, para
                apoyarte en la logística y en la distribución de tus productos y mercancías.
            </p>
        </div>

        <div class="subtitle__image">
            <img src="../../../assets/sostenibilidad/operario_planta.jpg" alt="Equipo" class="image__img">
        </div>
    </div>

    <app-indicadores></app-indicadores>

    <app-ods></app-ods>

</div>