<div class="container">
  <!-- Subtitulos -->
  <div class="container__subtitle">
    <div class="container__second">
      <h1 class="container__title">Sostenibilidad</h1>
      <p class="subtitle__text">
        En Coorditanques, la sostenibilidad no es una opción, es nuestro compromiso. Adoptamos prácticas ecológicas en
        la logística para minimizar nuestra huella ambiental, asegurando que la distribución de tus productos contribuya
        al cuidado de nuestro planeta. Vivimos la innovación responsable, garantizando un mañana más verde con cada
        servicio que proporcionamos.
      </p>
    </div>

    <div class="subtitle__image">
      <img src="../../../assets/sostenibilidad/operario_planta.jpg" alt="Equipo" class="image__img">
    </div>
  </div>

  <app-indicadores></app-indicadores>

  <app-ods></app-ods>

</div>
<app-footer></app-footer>
