<div class="container">

    <!-- Titulo -->
    
    <!-- Subtitulos -->
    <div class="container__subtitle">
        <div class="container__second">
            <h1 class="container__title">Sostenibilidad</h1>
            <p class="subtitle__text">
                En Coorditanques pesamos en ti, hemos adquirido un mundo de experiencias a lo largo de estos años, para
                apoyarte en la logística y en la distribución de tus productos y mercancías.
            </p>
        </div>

        <div class="subtitle__image">
            <img src="../../../assets/sostenibilidad/operario_planta.jpg" alt="Equipo" class="image__img">
        </div>
    </div>

    <app-ods></app-ods>

    <!-- BATTERY -->
    <!-- <svg #battery xmlns="http://www.w3.org/2000/svg" id="Capa_2" data-name="Capa 2" viewBox="0 0 242.17 382.1">
        <defs>
          <style>
            .cls-1 {
              stroke-width: 13px;
            }
      
            .cls-1, .cls-2 {
              fill: none;
              stroke: #48ac33;
              stroke-miterlimit: 10;
            }
      
            .cls-2 {
              stroke-width: 14px;
            }
          </style>
        </defs>
        <g id="Capa_1-2" data-name="Capa 1">
            <path class="cls-1" d="m145.57,136.83l-20.44,65.03c-.5,1.6.72,3.21,2.4,3.16l22.05-.67c2.23-.07,3.55,2.47,2.21,4.26l-62.71,83.47c-.15.2-.45.04-.38-.2l23.59-72.17-22.94-3.95c-2.6-.45-3.77-3.51-2.13-5.58l58.21-73.43c.06-.07.17-.01.14.07Z"/>
            <path id="pequeño" class="cls-2" d="m41.34,332.67l-.12-239.45c0-1.42,1.03-2.57,2.3-2.57l149.31.26c1.27,0,2.29,1.15,2.29,2.57v238.42c0,1.41-1.02,2.56-2.28,2.57l-149.19.77c-1.27,0-2.3-1.14-2.3-2.57Z"/>
          <path id="Grande" class="cls-2" d="m7.17,371.7l-.17-317.18c0-1.88,1.53-3.41,3.41-3.4l221.37.34c1.88,0,3.4,1.52,3.4,3.4v315.81c0,1.87-1.51,3.39-3.39,3.4l-221.2,1.03c-1.88,0-3.42-1.52-3.42-3.4Z"/>
          <path class="cls-2" d="m23.35,51.12v-25.3c0-1.56,1.26-2.82,2.82-2.82h32.47c1.56,0,2.82,1.26,2.82,2.82v25.3"/>
          <path class="cls-2" d="m90.88,51.12V11.43c0-2.45,1.94-4.43,4.34-4.43h49.91c2.4,0,4.34,1.98,4.34,4.43v39.69"/>
          <path class="cls-2" d="m178.88,51.12v-25.3c0-1.56,1.26-2.82,2.82-2.82h32.47c1.56,0,2.82,1.26,2.82,2.82v25.3"/>
        </g>
      </svg> -->

    <!-- LLANTA -->
    <!-- <svg #llanta xmlns="http://www.w3.org/2000/svg" id="Capa_2" data-name="Capa 2" viewBox="0 0 368.56 368.56">
        <defs>
            <style>
                .cls-1 {
                    stroke-width: 18px;
                }

                .cls-1,
                .cls-2,
                .cls-3,
                .cls-4 {
                    fill: none;
                    stroke: #212529;
                    stroke-miterlimit: 10;
                }

                .cls-2 {
                    stroke-width: 11px;
                }

                .cls-3 {
                    stroke-width: 21px;
                }

                .cls-4 {
                    stroke-width: 5px;
                }
            </style>
        </defs>
        <g id="Capa_1-2" data-name="Capa 1">
            <circle class="cls-1" cx="184.28" cy="184.28" r="128" />
            <circle class="cls-2" cx="184.28" cy="179.85" r="29.76" />
            <circle class="cls-3" cx="184.28" cy="184.28" r="173.78" />
            <path class="cls-1" d="m199.16,155.13s26.45-46.62,29.26-51.8" />
            <path class="cls-1" d="m199.16,205.62s26.39,49.14,30.58,57.42" />
            <path class="cls-1" d="m169.4,205.62s-26.58,46.67-31.98,56.56" />
            <path class="cls-1" d="m167.71,155.13s-29.52-52.45-30.28-53.74" />
            <path class="cls-1" d="m153.46,178.33s-59.58,20.16-64.43,21.88" />
            <path class="cls-1" d="m214.04,179.85s49.14,15.83,59.7,18.95" />
            <path class="cls-1" d="m153.46,178.33s-59.89-19.69-64.43-20.94" />
            <path class="cls-1" d="m214.04,179.85s48.77-14.26,59.7-17.4" />
            <path class="cls-4"
                d="m183.51,235.62l-15.3,37.22c-.61,1.49.48,3.13,2.1,3.13h25.53c1.6,0,2.7-1.6,2.12-3.09l-14.45-37.26Z" />
            <path class="cls-4"
                d="m240.95,218.04l12.36,24.48c.5.98,1.83,1.15,2.55.32l11.38-13.16c.71-.82.38-2.1-.65-2.47l-25.64-9.16Z" />
            <path class="cls-4"
                d="m183.85,128.68l15.3-37.22c.61-1.49-.48-3.13-2.1-3.13h-25.53c-1.6,0-2.7,1.6-2.12,3.09l14.45,37.26Z" />
            <path class="cls-4"
                d="m238.63,144.19l26.42-7.34c1.06-.29,1.48-1.57.81-2.44l-10.68-13.74c-.67-.86-1.99-.78-2.55.15l-14,23.36Z" />
            <path class="cls-4"
                d="m128.62,144.19l-12.46-24.43c-.5-.98-1.84-1.14-2.55-.3l-11.33,13.21c-.71.83-.37,2.11.66,2.47l25.68,9.06Z" />
            <path class="cls-4"
                d="m123.27,219.04l-25.82,9.23c-1.04.37-1.37,1.67-.63,2.49l11.65,12.93c.73.81,2.04.63,2.53-.34l12.27-24.31Z" />
        </g>
    </svg> -->

    <!-- GOTA -->
    <!-- <svg #gota class="gota" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1"
            data-name="Capa 1" viewBox="0 0 1080 1080">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke-width: 0px;
                    }

                    .cls-3,
                    .cls-4 {
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-width: 9px;
                    }

                    .cls-3 {
                        stroke: #000dff;
                    }

                    .cls-5 {
                        clip-path: url(#clippath);
                    }

                    .cls-6 {
                        fill: #000dff;
                        font-family: MyriadPro-Bold, 'Myriad Pro';
                        font-size: 103.93px;
                        font-weight: 700;
                    }
                </style>
                <clipPath id="clippath">
                    <rect class="cls-1" width="1080" height="1080" />
                </clipPath>
            </defs>
            <g class="cls-5">
                <g>
                    <path class="cls-3" fill="none"
                        d="m835.68,654.32c0,163.3-132.38,295.68-295.68,295.68s-295.68-132.38-295.68-295.68c0-259.58,295.68-524.32,295.68-524.32,0,0,295.68,263.02,295.68,524.32Zm-65.1-59.64c-2.03-13.49-4.97-27.46-8.92-41.92m-182.54,329.46c9.05,4.53,150.64-39.98,188.54-198.69m-358.81-346.11s-120.99,174.76-120.99,273.33" />
                </g>
            </g>
            <text class="cls-6" transform="translate(307.99 662.28)">
                <tspan x="20" y="0" style="font-size: 85px;">889.130 L</tspan>
            </svg>
        </text> -->




</div>