.container {
    height: 100vh;
    width: 100%;
    background-color: #35dad2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h3 svg {
    width: 20em;
}

.css-selector-demo {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    color: red;
}