<div class="container">

    <!-- PRIMERA SECCION -->
    <!-- <div class="container__section -primera">
        <app-swiper></app-swiper>
    </div>  -->

    <!-- SEGUNDA SECCION -->
    <div class="container__section -segunda">
        <app-servicios></app-servicios>
    </div> 

    <!-- TERCERA SECCION -->
    <div class="container__section -tercera">
        <div class="section__cont">
            <div class="section__body">
                <h2 class="body__title">SOSTENIBILIDAD</h2>
                <div class="body__paragraph">
                    <p>Nuestra responsabilidad va más allá del compromiso con nuestros clientes, también contribuimos al
                        futuro
                        de todos.</p>
                    <p>En Coorditanques estamos comprometidos con el cuidado del medio ambiente y el bienestar social,
                        por
                        eso
                        desarrollamos nuestro Programa de Sostenibilidad con una serie de prácticas positivas para
                        reducir
                        el
                        impacto ambiental de nuestras operaciones diarias.</p>
                </div>
                <button class="body__buttom">Conoce más</button>
            </div>
            <div class="section__img">
                <img src="assets/sostenibilidad/planta.png" alt="Planta Image" class="img__photo">
            </div>
        </div>
    </div>

    <!-- CUARTA SECCION -->
    <div class="container__section -cuarta">
        <app-clientes></app-clientes>
    </div>

    <!-- QUINTA SECCION -->
    <div class="container__section -quinta">
        <app-contact></app-contact>
    </div>
</div>