<div class="container">

    <!-- PRIMERA SECCION -->
    <div class="container__section -primera">
        <app-videoinit></app-videoinit>
    </div>

    <!-- SEGUNDA SECCION -->
    <div class="container__section -segunda">
        <app-servicios></app-servicios>
    </div>

    <!-- TERCERA SECCION -->
    <div class="container__section -tercera">
        <div class="section__cont">
            <div class="section__body">
                <h2 class="body__title">Protegiendo el Mañana</h2>
                <div class="body__paragraph">
                    <p>Cada elección que hacemos es un reflejo de nuestro deseo por un futuro sostenible. Somos firmes
                        creyentes de que nuestro compromiso actual será la clave para un mañana más verde y próspero.
                    </p>
                    <p>A la par de este compromiso, entendemos que nuestras acciones de hoy son la semilla para el mundo
                        del mañana. Es por ello que nos concentramos en estrategias y soluciones que atienden las
                        necesidades del presente, al tiempo que delinean un futuro en perfecta armonía con la
                        naturaleza.</p>
                </div>
                <button class="body__buttom" routerLink="/sostenibilidad">Conoce más</button>
            </div>
            <div class="section__img">
                <img src="assets/sostenibilidad/operario_planta.jpg" alt="Planta Image" class="img__photo">
            </div>
        </div>
    </div>

    <!-- CUARTA SECCION -->
    <div class="container__section -cuarta">
        <app-clientes></app-clientes>
    </div>

    <!-- QUINTA SECCION -->
    <div class="container__section -quinta">
        <app-contact></app-contact>
    </div>
</div>
