<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let noticia of noticias">
      <div class="slide-wrapper">
        <div
          class="slide-content"
          [ngStyle]="{ 'background-image': 'url(' + noticia.UrlImg + ')' }"
        >
          <div class="overlay"></div>
          <div class="text-content">
            <h2>{{ noticia.Titulo }}</h2>
            <p>{{ noticia.Descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginación -->
  <div class="swiper-pagination"></div>
  <!-- Navegación -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
