<div class="contacto-container">
    <!-- Datos de Contacto -->
    <div class="contacto-container__datos">
        <div class="datos__title">
            <h2>Contáctanos</h2>
        </div>

        <!-- Tarjetas -->
        <div class="datos__cards">
            <!-- Correo Electrónico -->
            <li class="cards__card">
                <div class="card__icon">
                    <i class="fa-solid fa-comment-dots"></i>
                </div>
                <div class="card__text">
                    <div class="text__title">Escribenos con Nosotros</div>
                    <div class="text__paragraph">Nuestros equipo siempre esta dispuesto a atenderte. servicioalcliente@coorditanques.com</div>
                </div>
            </li>

            <!-- Número Telefónico -->
            <li class="cards__card">
                <div class="card__icon">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </div>
                <div class="card__text">
                    <div class="text__title">Llámanos</div>
                    <div class="text__paragraph">Lunes-Viernes de 8am a 5pm. (+57) 311 3676532</div>
                </div>
            </li>

            <!-- Redes Sociales -->
            <li class="cards__card">
                <div class="card__icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="card__text">
                    <div class="text__title">Visita nuestras redes</div>
                    <div class="text__paragraph">También puedes encontrarnos en las redes sociales.</div>
                </div>
            </li>
        </div>
    </div>


    <!-- Formulario -->
    <div class="contacto-container__form">
        <h2 class="form__title">Contáctanos</h2>
        <div class="form__secondary-text">
            <p>Cuéntanos cualquier cosa que necesites.</p>
        </div>

        <form class="form__form">
            <div class="form__group1">
                <label for="" class="group1__label">NOMBRE</label>
                <input type="text" class="group1__input">
            </div>

            <div class="form__group1">
                <label for="" class="group1__label">EMAIL</label>
                <input type="email" class="group1__input">
            </div>

            <div class="form__group2">
                <label for="" class="group2__label">ASUNTO</label>
                <input type="text" class="group2__input">
            </div>

            <div class="form__group2">
                <label for="" class="group2__label">MENSAJE</label>
                <textarea name="" id="" cols="30" rows="10" class="group2__input"></textarea>
            </div>

            <button class="form__submit">Enviar Mensaje</button>

        </form>

    </div>
</div>
