.faq-container {
    width: 100%;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-container__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__title {
    width: 100%;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 25px;
}

.container__question {
    display: flex;
    flex-direction: column;
}

.question__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    margin: 10px 0;
    border-bottom: 2px solid #61616144;
}

.question__header:hover {
    cursor: pointer;
}

.header__item {
    position: relative;
}

.header__question {
    font-size: 20px;
    width: 90%;
}

.header__item {
    width: 50px;
}

.header__item::after {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 7px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 50%;
    transition: all 0.3s;
}

.header__item::before {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 7px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
    transition: all 0.3s;
}

.question__body {
    padding: 0 25px;
    margin-top: 0px;
    max-height: 0;
    overflow-y: hidden;
    margin-bottom: 20px;
    transition: all 0.8s ease;
}

.question__parag {
    font-size: 16px;
    margin-bottom: 15px;
}

.-shown .question__header .header__item::before {
    transform: rotate(0deg);
    background-color: #EE2C37;
}
.-shown .question__header .header__item::after {
    background-color: #EE2C37;
}

.-shown .question__body {
    max-height: 300px;
    overflow-y: visible;
}

.-shown .question__header {
    color: #EE2C37;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    .faq-container__container {
        width: 95%;
    }

    .container__title {
        font-size: 32px;
        margin-left: 55px;
    }
}