.container {
    width: 100%;
    padding: 0;
    margin: 100px 0 0;
    display: flex;
    flex-direction: column;
}

.container__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 50px;
}

.container__body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.body__card {
    width: calc(30% - 30px);
    display: flex;
    flex-wrap: nowrap;

}

.card__icon {
    width: 40%;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    max-width: 90%;
    max-height: 100%;
}

.card__info {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}