<div class="servicios-container">
    <div class="servicios-container__title">
        <h1 class="title__title">Nuestros Servicios</h1>
        <p class="title__text">Servicio de alta disponibilidad contando con una gran despliegue de mantenimiento a lo
            largo del país.</p>
    </div>

    <div class="servicios-container__cards">

        <!-- SEGUNDO SWIPPER -->
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let card of cards; index as i">
                    <div class="swiper__card">
                        <img [src]="card.img" alt="Image" class="slide__img">
                        <div class="card__title">
                            <h2>{{ card.title }}</h2>
                        </div>
                        <div class="card__button" routerLink="/servicios">
                            <button class="button__btn">Conoce más</button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>