<div class="servicios-container">
    <div class="servicios-container__title">
        <h1 class="title__title">Nuestros Servicios</h1>
        <p class="title__text">Servicio de alta disponibilidad contando con una gran despliegue de mantenimiento a lo largo del país.</p>
    </div>

    <div class="servicios-container__cards">
        <!-- CARD -->
        <div class="cards__card">
            <div class="card__header">
                <img src="../../../../assets/servicios/dosMulas.png" style="max-width: 230px;" alt="" class="header__img">
            </div>
            <div class="card__body">
                <div class="body__title">
                    <h3>Transporte de carga Líquida y granel.</h3>
                </div>
                <div class="body__desc">
                    <p>Servicio de alta disponibilidad contando con una gran despliegue de mantenimiento a lo largo del país.</p>
                </div>
                <div class="card__button">
                    <button class="button__btn" routerLink="/servicios">Conocer más</button>
                </div>
            </div>
        </div>
        <!-- CARD -->
        <div class="cards__card">
            <div class="card__header">
                <img src="../../../../assets/servicios/mula.png" style="max-width: 180px;" alt="" class="header__img">
            </div>
            <div class="card__body">
                <div class="body__title">
                    <h3>Transporte de carga Líquida y granel.</h3>
                </div>
                <div class="body__desc">
                    <p>Servicio de alta disponibilidad contando con una gran despliegue de mantenimiento a lo largo del país.</p>
                </div>
                <div class="card__button">
                    <button class="button__btn">Conocer más</button>
                </div>
            </div>
        </div>
        <!-- CARD -->
        <div class="cards__card">
            <div class="card__header">
                <div class="card__header">
                    <img src="../../../../assets/servicios/gases.png" style="max-width: 180px;" alt="" class="header__img">
                </div>
            </div>
            <div class="card__body">
                <div class="body__title">
                    <h3>Transporte de carga Líquida y granel.</h3>
                </div>
                <div class="body__desc">
                    <p>Servicio de alta disponibilidad contando con una gran despliegue de mantenimiento a lo largo del país.</p>
                </div>
                <div class="card__button">
                    <button class="button__btn">Conocer más</button>
                </div>
            </div>
        </div>
        <!-- CARD -->
        <div class="cards__card">
            <div class="card__header">
                <img src="../../../../assets/servicios/alquiler.png" style="max-width: 230px;" alt="" class="header__img">
            </div>
            <div class="card__body">
                <div class="body__title">
                    <h3>Transporte de carga Líquida y granel.</h3>
                </div>
                <div class="body__desc">
                    <p>Servicio de alta disponibilidad contando con una gran despliegue de mantenimiento a lo largo del país.</p>
                </div>
                <div class="card__button">
                    <button class="button__btn">Conocer más</button>
                </div>
            </div>
        </div>
        <!-- CARD -->
        <div class="cards__phone">
            <div class="phone__header">
                <img src="../../../../assets/servicios/todos.png" alt="" class="header__img">
            </div>
            <div class="card__body">
                <div class="body__title">
                    <h3>Amplia Gama de Servicios.</h3>
                </div>
                <div class="body__desc">
                    <p>Nuestros servicios incluyen Transporte de carga líquida y a granel, transporte de gases, alquiler de tanques y vehículos, administración entre flotas, entre otros...</p>
                </div>
                <div class="card__button">
                    <button class="button__btn">Conocer más</button>
                </div>
            </div>
        </div>
    </div>

</div>