<div class="video-container">
    <!-- video -->
    <div class="video-container__video">
        <video autoplay playsinline class muted loop>
            <source  src="../../../../assets/video/Coorditanques.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Text -->
    <div class="video-container__card">
        <div class="card__title">
            <h2>Viajes con Propósito</h2>
        </div>
        <div class="card__body">
            <span>Nuestros viajes no son solo desplazamientos, son misiones cargadas de responsabilidad. Por más de 30
                años, la promesa de seguridad y confianza ha sido el norte que guía cada tanque, cada ruta, asegurando
                que nuestros clientes siempre reciban el mejor servicio.</span>
        </div>
        <div class="card__button">
            <button class="button__btn" routerLink="/about">Sobre Nosotros</button>
        </div>
    </div>
</div>