/* You can add global styles to this file, and also import other style files */
@import url(./app/components/blogs/blog/ckeditorStyles.scss);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    --color-primary: #EE2C37;
    --font-color: rgb(29, 28, 28);
}

a {
    text-decoration: none;
    color: black;
}
